ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/refint/ProjetoGerenciamentoRestaurante.RazorPages.dll
ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.RazorPages.pdb
ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.RazorPages.dll
ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.RazorPages.csproj.CoreCompileInputs.cache
ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.RazorPages.assets.cache
ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/project.razor.json
ProjetoGerenciamentoRestaurante.RazorPages/bin/Debug/net7.0/ProjetoGerenciamentoRestaurante.RazorPages.pdb
ProjetoGerenciamentoRestaurante.RazorPages/bin/Debug/net7.0/ProjetoGerenciamentoRestaurante.RazorPages.dll
ProjetoGerenciamentoRestaurante.RazorPages/.vscode/launch.json
ProjetoGerenciamentoRestaurante.RazorPages/.vscode/tasks.json
ProjetoGerenciamentoRestaurante.RazorPages/obj/project.assets.json
ProjetoGerenciamentoRestaurante.RazorPages/obj/project.nuget.cache
ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/project.razor.json
ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.RazorPages.assets.cache
ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.RazorPages.GeneratedMSBuildEditorConfig.editorconfig
ProjetoGerenciamentoRestaurante.RazorPages/obj/ProjetoGerenciamentoRestaurante.RazorPages.csproj.nuget.dgspec.json
ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/project.razor.json
ProjetoGerenciamentoRestaurante.RazorPages/obj/Debug/net7.0/ProjetoGerenciamentoRestaurante.RazorPages.GeneratedMSBuildEditorConfig.editorconfig
