@page "{id:int}"
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Categoria.Delete

<div>
    <h1>Deseja realmente remover?</h1>

    <p><strong>Nome:</strong> @Model.CategoriaModel.Nome </p>
    <p><strong>Descrição:</strong> @Model.CategoriaModel.Descricao </p>
</div>

<form method="post">
    <div class="form-group">
        <input type="submit" value="Sim" class="btn btn-danger"/>
        <a asp-page="/Categoria/Index" class="btn btn-primary"> Voltar</a>
    </div>
</form>