@page "{id:int}"
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Categoria.Details

<h1>Detalhes do Garçom: @Model.CategoriaModel.Nome</h1>

<div>
    <p><strong>Nome: </strong> @Model.CategoriaModel.Nome </p>
    <p><strong>Descrição: </strong> @Model.CategoriaModel.Descricao </p>
</div>

<a asp-page="Index"> Voltar</a>