@page "{id:int}"
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Garcon.Delete

<div>
    <h1>Deseja realmente remover?</h1>

    <p><strong>Nome:</strong> @Model.GarconModel.Nome </p>
    <p><strong>Sobrenome:</strong> @Model.GarconModel.Sobrenome </p>
    <p><strong>CPF:</strong> @Model.GarconModel.Cpf </p>
</div>

<form method="post">
    <div class="form-group">
        <input type="submit" value="Sim" class="btn btn-danger"/>
        <a asp-page="/Events/Index" class="btn btn-primary"> Voltar</a>
    </div>
</form>