<table>
<tr>
    <td><a asp-page="/Index"> Home </a></td> 
    <td><a asp-page="/Garcon/Index"> Garçom </a></td> 
    <td><a asp-page="/Categoria/Index" > Categoria de Produtos </a></td>
    <td><a asp-page="/Produto/Index" > Categoria de Produtos </a></td>
    <td><a asp-page="/Mesa/Index" > Categoria de Produtos </a></td> 
    <td><a asp-page="/Atendimento/Index" > Atendimento </a></td>
</tr>
</table>

