@page
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Mesa.Add
<h1>Adicionar nova Mesa</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-dange"></div>
            <input type="hidden" asp-for="MesaModel.MesaId"/>
            <div class="form-group">
                <label asp-for="MesaModel.Numero"></label>
                <input asp-for="MesaModel.Numero" class="form-control"/>
                <span asp-validation-for="MesaModel.Numero" class="text-dange"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="MesaModel.Status"></label>
                <input asp-for="MesaModel.Status" class="form-control"></textarea>
                <span asp-validation-for="MesaModel.Status" class="text-dange"></span>
            </div>
            <div class="form-group">
                <label asp-for="MesaModel.HoraAbertura"></label>
                <input asp-for="MesaModel.HoraAbertura" class="form-control"/>
                <span asp-validation-for="MesaModel.HoraAbertura" class="text-dange"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Salvar"/>
                <a asp-page="/Mesa/Index" class="btn btn-secondary"> Cancelar</a>
            </div>
        </form>
    </div>
</div>