@page "{id:int}"
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Atendimento.Delete

<div align="center">
    <h2>Deseja realmente remover esse atendimento?</h2>

    <p><strong>Numero da Mesa:</strong> @Model.AtendimentoModel.Mesa!.Numero </p>


<form method="post">
    <div class="form-group">
        <input type="submit" value="Sim" class="btn btn-danger"/>
        <a asp-page="/Atendimento/Index" class="btn btn-primary"> Voltar</a>
    </div>
</form>
</div>