@page
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Index
<h1>Gerenciador de Pedidos de Restaurante</h1>

<div>
    <a asp-page="/Atendimento/Index" class="btn btn-secondary"> Fazer Atendimento</a>
</div>